<ul class="navbar-nav menu-icons flex-row justify-content-center">
    <li class="search-button nav-item dropdown">
        <a class="search-toggle dropdown-toggle py-2 d-none d-md-inline-block menu-icon ml-4" href="#"  data-selector="#navbarCollapse">
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="dropdown-toggle py-2 d-none d-md-inline-block menu-icon ml-4" data-toggle="dropdown" href="#">
            <img src="/static/images/icons/profile.svg" /></a>
    </li>
</ul>